html,
body {
  font-family: "Roboto", sans-serif;
}

.tecweb{
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.tecweb-btn{
  font-size: 1.1rem;
  background-color: #f7d736
}

.appbar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #f7d736;
  box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.22);
}

.appbar-buttons{
  margin: 0 1rem;
}

a:link, a:visited {
  background-color: #fff2b1;
  color: black;
  padding: 1rem 1.5rem;
  margin: 0 0.3rem 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: white;
  background-color: #fae890;
}

.logo{
  height: 4rem;
  padding: .5rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
  padding: .8rem;
  margin: 2rem 0 1.5rem 0;
  border-radius: .5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 5px 4px rgba(0,0,0,0.22);
}

.form-card-title{
  border: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin: .3rem 0;
  outline: none;
  border-color: transparent;
}

.autoresize{
  border: 0;
  outline: none;
  resize: none;
  border-color: transparent;
  margin: .5rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 3rem;
  font-family: 'Permanent Marker', cursive;
}

.card{
  min-width: 150px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  width: 13.5%;
  padding: .8rem;
  margin: 0.5rem .2rem;
  border-radius: .3rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-title{
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.card-content{
  font-size: 1.2rem;
  color: #4c4c4c;
  align-self: center;
  margin: auto;
}

.delete-form{
  align-self: flex-start;
  margin: 0.3rem;
  order:2;
}

.delete-btn{
  /* align-self: flex-end;
  margin: 0.2rem; */
  
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.delete-btn:hover {
  /* background-color: red; */
  font-size: 1.4rem;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-btn{
  align-self: flex-start;
  margin: 0.3rem;
  order:2;
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.edit-btn:hover{
  font-size: 1.4rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-color-1{
  background-color: #ead3a7;
}

.card-color-2{
  background-color: #9de0f5;
}

.card-color-3{
  background-color: #ef89ba;
}

.card-color-4{
  background-color: #fae890;
}

.card-color-5{
  background-color: #abe9c1;
}

.card-rotation-1{
  transform: rotate(1deg)
}

.card-rotation-2{
  transform: rotate(-1deg)
}

.card-rotation-3{
  transform: rotate(2deg)
}

.card-rotation-4{
  transform: rotate(-2deg)
}

.card-rotation-5{
  transform: rotate(3deg)
}

.card-rotation-6{
  transform: rotate(-3deg)
}

.card-rotation-7{
  transform: rotate(4deg)
}

.card-rotation-8{
  transform: rotate(-4deg)
}

.card-rotation-9{
  transform: rotate(5deg)
}

.card-rotation-10{
  transform: rotate(-5deg)
}

.card-rotation-11{
  transform: rotate(0deg)
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: .9rem;

  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}