{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static ./../../../static/notes/css/getit.css"/>

<main class="container">
    <h1>Lista de Tags</h1>
    <div class="card-container">
        {% for tag in tags %}
        <div class="tag">
            <form method="GET" action="/notesoftag">
                <button name="tag" type="submit" class="card" value={{tag.tagTitle}}>{{tag.tagTitle}}</button>
            </form>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}