{% extends "notes/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../../static/notes/css/getit.css"/>

<main class="container">
  <!-- <form method="post" class="form-card" action="/add">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input id="titulo" placeholder="Digite o título..." type="text" name="titulo" class="form-card-title"/>
    <label for="detalhes">Detalhes</label>
    <textarea id="detalhes" placeholder="Digite os detalhes..." name="detalhes" class="autoresize"></textarea>
    <label for="tagtitle" >Tag</label>
    <input id="tagtitle" placeholder="Qual a tag?" type="text" name="tagtitle" class="autoresize"></input>
    <input type="submit" class="btn"/>
  </form> -->
<!-- 
  <div class="card-container"> 
    {% for note in notes %}
      <div class="card" id="{{note.id}}">
        <h3 class="card-title">{{note.title}}</h3>
        <h2 class="card-tag">Tag: {{note.tag}}</h2>
        <div class="card-content">
          <p>{{note.content}}</p> 
        </div>
  </div>
    {% endfor %} -->

    <div> 
      <form method="post" action="/add">
        {% csrf_token %}
        <label for="nome" >Nome: </label>
        <input id="nome" placeholder="Qual o seu nome?" type="text" name="nome" class="autoresize"></input>
        <label for="sobrenome" >Sobrenome: </label>
        <input id="sobrenome" placeholder="Qual o seu sobrenome?" type="text" name="sobrenome" class="autoresize"></input>
        <input type="submit" class="btn"/>

        <h2>Quantidade total de pessoas cadastradas: {{nPessoas}} </h2>
        <div class="geral"> 
          {% for pessoa in allPessoas %}
            <li>{{pessoa.nome}} {{pessoa.sobrenome}}</li> 
          {% endfor %} 
        </div>
      </form>
    </div>
</main>

<script type="text/javascript" src="../../static/notes/script/getit.js"></script>
{% endblock %}